<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>House Monitor</title>
  <meta name="description" content="House Monitor">
  <meta name="author" content="Zeke Pendexter">
  <title>Camera</title>
  <link rel="stylesheet" type="text/css" href="style.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div id="container" class="row">
  <div class="column">
    <img src="static/frog.jpg" width="20%" height="20%">
  </div>
  <div class="column">
    <form>
      <button formaction="{{ url_for('takepicture') }}">Take Picture!</button>
    </form>
  </div>
</div>
</body>
</html>