<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Picture</title>
  <meta name="deMonitorscription" content="Picture">
  <meta name="author" content="Zeke Pendexter">
  <title>Camera</title>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div id="container" width="100%">
  <div style="float:left; width='50%';">
    <img src="static/picture.jpg" width="50%" height="50%">
  </div>
  <div style="float:right; width='50%';">
    <form>
      <button formaction="{{ url_for('takepicture') }}">Take Picture!</button>
    </form>
  </div>
</div>
</body>
</html>